@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'New York';
    src: url('../font/newyork_personal_use-webfont.woff') format('woff'), url('../font/newyork_personal_use-webfont.woff2') format('woff2');
    font-weight: 400;
}
