.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.link-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hidden {
    overflow: hidden;
}

.inner {
    max-width: 100%;
    padding: 0 50px;

    @include responsive(640px) {
        padding: 0 25px;
    }
}

.headline {
    position: relative;
    display: flex;
    gap: 20px;
    font-family: $font--en;
    // font-size: clamp(40px, 8vw, 120px);
    font-size: 30px;
    font-weight: bold;

    span {
        font-size: 80px;
        font-weight: 300;
    }

    @include responsive {
        font-size: 25px;

        span {
            font-size: 60px;
        }
    }

    @include responsive(480px) {
        font-size: 20px;

        span {
            font-size: 48px;
        }
    }

    @include responsive(380px) {
        font-size: 18px;

        span {
            font-size: 40px;
        }
    }
}

.btn-view {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 13px 30px;
    border: 1px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: $font--en;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;

    &.site {
        background-color: #fff;
        color: #000;
    }

    &.code:hover {
        background-color: #fff;
        color: #000;
    }
    &.site:hover {
        background-color: transparent;
        color: #fff;
    }
}
