* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}
*,
:after,
:before {
    box-sizing: border-box;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}
html,
body {
    height: 100%;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button {
    background: none;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,
ol {
    list-style: none;
}

body {
    font-family: 'pretand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    word-break: keep-all;

    color: #fff;
    background-color: #000;

    overflow-x: hidden;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $main-color;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;

    transition: width 0.2s, height 0.2s;

    @include responsive {
        display: none;
    }

    &.on {
        width: 50px;
        height: 50px;
    }
}
