@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "jk";
  src: url("../font/658183162ad0d9fdf0657464_JokkerTRIAL-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "jk";
  src: url("../font/658183162ad0d9fdf065746c_JokkerTRIAL-Medium.woff");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "pretand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background-color: #1c1c1c;
  overflow-x: hidden;
}

.cursor {
  position: absolute;
  z-index: 1000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(77, 77, 255);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
}
@media (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
.cursor.on {
  width: 100px;
  height: 100px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.link-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hidden {
  overflow: hidden;
}

.inner {
  max-width: 100%;
  padding: 0 25px;
}

.headline {
  position: relative;
  text-transform: uppercase;
  font-family: "jk", sans-serif;
  font-weight: 600;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  border-radius: 30px;
  display: inline-block;
}
.headline::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}

.btn-view {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-view.site {
  background-color: #fff;
  color: #000;
}
.btn-view.code:hover {
  background-color: #fff;
  color: #000;
}
.btn-view.site:hover {
  background-color: transparent;
  color: #fff;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "jk";
  font-size: 20px;
  font-weight: 700;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loading .num {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 10vw;
  color: #fff;
}
.loading .per {
  font-size: 5vw;
}

.logo .st0 {
  fill: #ffffff;
}
.logo .rotate-move {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: rotateMove 3.5s cubic-bezier(0.5, 1, 0.5, 1) infinite;
          animation: rotateMove 3.5s cubic-bezier(0.5, 1, 0.5, 1) infinite;
}
.logo .initials path {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.logo:hover .initials path {
  fill: rgb(77, 77, 255);
}

@-webkit-keyframes rotateMove {
  to {
    -webkit-transform: rotate3d(1, 0, 0, 360deg);
            transform: rotate3d(1, 0, 0, 360deg);
  }
}

@keyframes rotateMove {
  to {
    -webkit-transform: rotate3d(1, 0, 0, 360deg);
            transform: rotate3d(1, 0, 0, 360deg);
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: 1s;
  transition: 1s;
}
.header.sticky {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header .logo-area {
  z-index: 150;
}
.header .logo-area .logo a {
  width: 110px;
}
.header .btn-menu {
  z-index: 150;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header .btn-menu .line {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .btn-menu span:first-child {
  top: -3px;
}
.header .btn-menu span:nth-child(2) {
  top: 3px;
}
.header .btn-menu.on .line {
  width: 36px;
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 20px;
}
.header .btn-menu.on span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 1px;
}
.header .btn-menu.on span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -1px;
}
.header .gnb {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(28, 28, 28, 0.95);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.024, 1);
  transition: -webkit-transform 1s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 1s cubic-bezier(0.76, 0, 0.024, 1), -webkit-transform 1s cubic-bezier(0.76, 0, 0.024, 1);
}
.header .gnb.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  overflow-y: scroll;
}
.header .nav-list {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/holographic_bg4.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  background-blend-mode: difference;
}
.header .nav-item {
  text-transform: uppercase;
  font-size: 5vw;
  font-size: clamp(30px, 7vw, 70px);
  line-height: 120px;
  height: 120px;
  font-family: "jk", sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .header .nav-item {
    line-height: 100px;
    height: 100px;
  }
}
.header .nav-item a {
  position: relative;
  padding: 0px 25px;
  overflow: hidden;
}
.header .nav-item .text {
  height: 100%;
}
.header .nav-item .text:hover .letter, .header .nav-item .text.play .letter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header .nav-item .text .block:last-child {
  color: rgb(77, 77, 255);
}
.header .nav-item .text .letter {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1), -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}
.header .nav-item .text .letter:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header .nav-item .text .letter:nth-child(2) {
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.header .nav-item .text .letter:nth-child(3) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.header .nav-item .text .letter:nth-child(4) {
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
}
.header .nav-item .text .letter:nth-child(5) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}
.header .nav-item .text .letter:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.header .nav-item .text .letter:nth-child(7) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}
.header .util-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "jk", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .header .util-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.header .util-area small {
  margin-right: auto;
}
.header .util-area a {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .util-area a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .util-area a:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.header .util-area a:hover::before {
  left: 10px;
}

.footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 70px;
  background-color: #111;
}
@media (max-width: 1024px) {
  .footer {
    margin-top: 50px;
  }
}
.footer .copy {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  line-height: 70px;
  opacity: 0.4;
}

.holographic-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
.holographic-bg img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  pointer-events: none;
}

.sc-intro {
  width: 100%;
  height: 100vh;
}
.sc-intro .inner {
  padding-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-intro .inner {
    padding-left: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.sc-intro .desc {
  text-transform: uppercase;
  font-family: "jk", sans-serif;
  font-size: clamp(35px, 7vw, 90px);
  line-height: 1.5;
  letter-spacing: -2px;
}
.sc-intro .desc em {
  display: inline-block;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 2px rgb(77, 77, 255);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}
.sc-intro .desc em:hover {
  color: rgb(77, 77, 255);
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
.sc-intro .desc .title1,
.sc-intro .desc .title2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.sc-project {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.sc-project .inner {
  padding-top: 50px;
}
.sc-project .prj-wrap {
  margin-top: 50px;
}
.sc-project .prj-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 25px;
}
@media (max-width: 1024px) {
  .sc-project .prj-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sc-project .prj-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 7px;
  padding: 30px;
  min-height: 400px;
}
@media (max-width: 1024px) {
  .sc-project .prj-item {
    min-height: 250px;
  }
}
.sc-project .prj-item .text-box .title {
  display: block;
  text-transform: uppercase;
  font-family: "jk", sans-serif;
  font-size: clamp(30px, 5vw, 58px);
  font-weight: 600;
  margin-bottom: 100px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .sc-project .prj-item .text-box .title {
    margin-bottom: 50px;
  }
}
.sc-project .prj-item .text-box .desc {
  font-size: 1.1rem;
  margin-bottom: 30px;
  word-break: keep-all;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .sc-project .prj-item .text-box .desc {
    margin-bottom: 20px;
  }
}
.sc-project .prj-item .text-box .stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
}
.sc-project .prj-item .view-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}
.sc-project .prj-item .img-box {
  position: absolute;
  top: 0;
  left: 0;
  translate: -50% -50%;
  pointer-events: none;
  z-index: 1;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.sc-project .prj-item:hover {
  background-color: rgba(91, 109, 146, 0.7);
  -webkit-box-shadow: 0px 0px 10px rgb(77, 77, 255);
          box-shadow: 0px 0px 10px rgb(77, 77, 255);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sc-project .prj-item:hover .img-box {
  width: 100px;
}
.sc-project .prj-item:hover:nth-child(2) .img-box {
  width: 150px;
}
.sc-project .prj-item:hover:nth-child(5) .img-box {
  width: 200px;
}
.sc-project .prj-item:hover:nth-child(8) .img-box {
  width: 80px;
}

.sc-about {
  margin-top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-about {
    margin-top: 100px;
  }
}
.sc-about .inner {
  position: relative;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.sc-about .headline {
  position: absolute;
  top: 50px;
  left: 25px;
  z-index: 1;
}
.sc-about .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}
.sc-about .bg-box img {
  position: absolute;
  pointer-events: none;
}
.sc-about .bg-box img:nth-child(1) {
  left: 20px;
  top: 100px;
  width: 400px;
  -webkit-animation: borderMoveTop 4s linear infinite;
          animation: borderMoveTop 4s linear infinite;
}
@media (max-width: 768px) {
  .sc-about .bg-box img:nth-child(1) {
    width: 300px;
  }
}
@media (max-width: 480px) {
  .sc-about .bg-box img:nth-child(1) {
    width: 200px;
  }
}
@-webkit-keyframes borderMoveTop {
  0% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-radius: 39% 61% 46% 41%/54% 48% 42% 41%;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  50% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
  }
  100% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes borderMoveTop {
  0% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-radius: 39% 61% 46% 41%/54% 48% 42% 41%;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  50% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
  }
  100% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sc-about .bg-box img:nth-child(2) {
  right: 20px;
  bottom: 100px;
  width: 500px;
  -webkit-animation: borderMoveBottom 4s linear infinite;
          animation: borderMoveBottom 4s linear infinite;
}
@media (max-width: 768px) {
  .sc-about .bg-box img:nth-child(2) {
    width: 400px;
  }
}
@media (max-width: 480px) {
  .sc-about .bg-box img:nth-child(2) {
    width: 300px;
  }
}
@-webkit-keyframes borderMoveBottom {
  0% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-radius: 39% 61% 46% 41%/54% 48% 42% 41%;
  }
  50% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes borderMoveBottom {
  0% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    border-radius: 39% 61% 46% 41%/54% 48% 42% 41%;
  }
  50% {
    border-radius: 40% 60% 65% 35%/40% 45% 55% 60%;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  100% {
    border-radius: 46% 54% 44% 56%/49% 47% 53% 51%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sc-about .desc {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 2;
  text-align: center;
}
.sc-about .desc > span {
  height: 48px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .sc-about .desc > span {
    height: 80px;
  }
}
.sc-about .desc .txt-up {
  display: inline-block;
}
.sc-about .desc .txt-up br.m {
  display: none;
}
@media (max-width: 768px) {
  .sc-about .desc .txt-up br.m {
    display: block;
  }
}
.sc-about .desc2 {
  position: relative;
  font-size: 1.1rem;
  line-height: 2;
  font-weight: 300;
  text-align: center;
  word-break: keep-all;
  margin-top: 120px;
}
@media (max-width: 1024px) {
  .sc-about .desc2 {
    font-size: 1rem;
  }
}
.sc-about .stack-area {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}
.sc-about .stack-area .stack-loop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: loopMove 20s linear infinite;
          animation: loopMove 20s linear infinite;
}
@-webkit-keyframes loopMove {
  to {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
@keyframes loopMove {
  to {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
}
.sc-about .stack-area .stack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-about .stack-area .stack-item {
  font-family: "jk", sans-serif;
  font-weight: 500;
  margin-left: 30px;
}

.sc-contact {
  margin-top: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media (max-width: 1024px) {
  .sc-contact {
    margin-top: 100px;
  }
}
.sc-contact .inner {
  padding-top: 50px;
  font-family: "jk", sans-serif;
}
.sc-contact .desc {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 600;
}
.sc-contact .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.sc-contact .contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 50%;
}
.sc-contact .contact > div strong {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.sc-contact .contact > div span,
.sc-contact .contact > div a {
  opacity: 0.5;
}

.sc-article .inner {
  padding: 6rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 16px;
}
.sc-article .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.sc-article .number > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.sc-article .number::after {
  content: "";
  display: inline-block;
  width: 5.2rem;
  height: 0.8rem;
  background-color: #fff;
}
.sc-article .number .num {
  font-size: 11vw;
  font-family: "jk", sans-serif;
  font-weight: 500;
}
.sc-article .desc {
  grid-area: 2/2/3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-family: "jk", sans-serif;
  font-size: 3.7rem;
  line-height: 1.5;
}
.sc-article .desc > div {
  overflow: hidden;
}
.sc-article .desc span {
  display: block;
  white-space: nowrap;
}

.sc-insight {
  padding-bottom: 120px;
  overflow: hidden;
  font-family: "jk", sans-serif;
}
.sc-insight .con-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.sc-insight .con-head .head-tit {
  font-size: 36px;
  font-weight: 700;
}
.sc-insight .con-body .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding: 38px 0 40px 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.sc-insight .con-body .item {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}
.sc-insight .con-body .item a {
  display: block;
  width: 100%;
}
.sc-insight .con-body .item .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  padding-left: 20px;
  line-height: 1;
}
.sc-insight .con-body .item .label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 1px solid #fdfafa;
  padding: 16px 20px 18px;
  opacity: 0.4;
}
.sc-insight .con-body .item .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  max-width: 570px;
  margin-right: 100px;
  font-size: 36px;
  font-weight: 700;
}
.sc-insight .con-body .item .sub {
  margin-right: 120px;
}
.sc-insight .con-body .item .sub span {
  display: block;
  opacity: 0.4;
}
.sc-insight .con-body .item .circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: rgb(77, 77, 255);
}
.sc-insight .con-body .item .arrow {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/link_arrow.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.sc-insight .con-body .item .second {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(77, 77, 255);
  -webkit-clip-path: circle(32px at calc(100% - 92px) 50%);
          clip-path: circle(32px at calc(100% - 92px) 50%);
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
}
.sc-insight .con-body .item .second .inner {
  border-top: 1px solid rgb(77, 77, 255);
  border-bottom: 1px solid rgb(77, 77, 255);
}
.sc-insight .con-body .item .second .label span,
.sc-insight .con-body .item .second .sub span {
  opacity: 1;
}
.sc-insight .con-body .item:hover .second {
  -webkit-clip-path: circle(100vw at calc(100% - 92px) 50%);
          clip-path: circle(100vw at calc(100% - 92px) 50%);
}
.sc-insight .con-body .item:hover .arrow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale3d(1.3, 1.3, 1);
          transform: scale3d(1.3, 1.3, 1);
}
.sc-insight .con-body .item:nth-child(n+2) .inner {
  border-top: none;
}

.sc-contact-2 {
  padding: 80px 0;
  background-color: #000;
}
.sc-contact-2 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 200px 0;
  margin-bottom: 32px;
}
.sc-contact-2 .top .together {
  font-family: "jk", sans-serif;
  font-size: 128px;
  text-align: center;
  line-height: 1;
}
.sc-contact-2 .contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
.sc-contact-2 .contact-area a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 55px;
  background-color: transparent;
  color: #fff;
  font-family: "jk", sans-serif;
  letter-spacing: 1px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  overflow: hidden;
}
.sc-contact-2 .contact-area a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #1f1f1f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sc-contact-2 .contact-area a:hover::before {
  width: 600px;
  height: 600px;
}
.sc-contact-2 .contact-area a span {
  position: relative;
}
.sc-contact-2 .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "jk", sans-serif;
  padding: 0 15px;
}
.sc-contact-2 .bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sc-contact-2 .bottom > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-contact-2 .bottom .left {
  gap: 50px;
}
.sc-contact-2 .bottom .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.sc-contact-2 .bottom .tit {
  line-height: 2;
}
.sc-contact-2 .bottom .label {
  line-height: 1.5;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */