@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "pretand";
  src: url("../font/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "jk";
  src: url("../font/658183162ad0d9fdf0657464_JokkerTRIAL-Regular.woff");
  font-weight: 400;
}
@font-face {
  font-family: "jk";
  src: url("../font/658183162ad0d9fdf065746c_JokkerTRIAL-Medium.woff");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "pretand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  word-break: keep-all;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(104, 0, 255);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
}
@media (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
.cursor.on {
  width: 50px;
  height: 50px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.link-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.hidden {
  overflow: hidden;
}

.inner {
  max-width: 100%;
  padding: 0 50px;
}
@media (max-width: 640px) {
  .inner {
    padding: 0 25px;
  }
}

.headline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-family: "jk", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.headline span {
  font-size: 80px;
  font-weight: 300;
}
@media (max-width: 1024px) {
  .headline {
    font-size: 25px;
  }
  .headline span {
    font-size: 60px;
  }
}
@media (max-width: 480px) {
  .headline {
    font-size: 20px;
  }
  .headline span {
    font-size: 48px;
  }
}
@media (max-width: 380px) {
  .headline {
    font-size: 18px;
  }
  .headline span {
    font-size: 40px;
  }
}

.btn-view {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: "jk", sans-serif;
  font-weight: 500;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-view.site {
  background-color: #fff;
  color: #000;
}
.btn-view.code:hover {
  background-color: #fff;
  color: #000;
}
.btn-view.site:hover {
  background-color: transparent;
  color: #fff;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "jk";
  font-size: 20px;
  font-weight: 700;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition: -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.loading .num {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 10vw;
  color: #fff;
}
.loading .per {
  font-size: 5vw;
}

.logo {
  font-size: 20px;
  font-family: "jk", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: 1s;
  transition: 1s;
}
.header.sticky {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header .logo {
  position: absolute;
  top: 50px;
  left: 50px;
}
@media (max-width: 640px) {
  .header .logo {
    top: 40px;
    left: 25px;
  }
}
.header .gnb-area {
  position: absolute;
  top: 50px;
  right: 50px;
}
@media (max-width: 640px) {
  .header .gnb-area {
    top: 40px;
    right: 25px;
  }
}
.header .gnb-area .nav-item {
  padding: 8px 0;
  font-family: "jk", sans-serif;
  font-size: 25px;
  text-align: right;
  line-height: 1.2;
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .header .gnb-area .nav-item {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  .header .gnb-area .nav-item {
    font-size: 20px;
  }
}
.header .gnb-area .nav-item.on {
  opacity: 1;
}
.header .gnb-area .nav-item a {
  position: relative;
  overflow: hidden;
  height: 25px;
}
.header .gnb-area .nav-item a:hover .letter, .header .gnb-area .nav-item a.play .letter {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 768px) {
  .header .gnb-area .nav-item a:hover .letter, .header .gnb-area .nav-item a.play .letter {
    -webkit-transform: none;
            transform: none;
  }
}
.header .gnb-area .nav-item a .block:last-child {
  color: rgb(104, 0, 255);
}
.header .gnb-area .nav-item a .letter {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.024, 1), -webkit-transform 0.6s cubic-bezier(0.76, 0, 0.024, 1);
}
.header .gnb-area .nav-item a .letter:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header .gnb-area .nav-item a .letter:nth-child(2) {
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
}
.header .gnb-area .nav-item a .letter:nth-child(3) {
  -webkit-transition-delay: 0.06s;
          transition-delay: 0.06s;
}
.header .gnb-area .nav-item a .letter:nth-child(4) {
  -webkit-transition-delay: 0.09s;
          transition-delay: 0.09s;
}
.header .gnb-area .nav-item a .letter:nth-child(5) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}
.header .gnb-area .nav-item a .letter:nth-child(6) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.header .gnb-area .nav-item a .letter:nth-child(7) {
  -webkit-transition-delay: 0.18s;
          transition-delay: 0.18s;
}

.footer {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: 70px;
  background-color: #111;
}
@media (max-width: 1024px) {
  .footer {
    margin-top: 50px;
  }
}
.footer .copy {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  line-height: 70px;
  opacity: 0.4;
}

.holographic-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.holographic-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  pointer-events: none;
}
@media (max-width: 640px) {
  .holographic-bg img {
    -o-object-position: 80%;
       object-position: 80%;
  }
}

.sc-main {
  width: 100%;
  height: 100vh;
  background: #000;
}
.sc-main .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}
@media (max-width: 1024px) {
  .sc-main .inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 100px;
  }
}
.sc-main .title {
  font-size: clamp(40px, 8vw, 120px);
  font-family: "jk", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}
.sc-main .title em {
  font-weight: 300;
  display: inline-block;
}
@media (max-width: 640px) {
  .sc-main .title {
    letter-spacing: 1px;
  }
}
@media (max-width: 320px) {
  .sc-main .title {
    font-size: 35px;
  }
}
.sc-main .desc {
  font-family: "jk", sans-serif;
  font-size: 18px;
  letter-spacing: 0.6px;
  word-spacing: 1.2px;
  padding: 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 1.7;
  color: #b5b5b5;
}
@media (max-width: 1024px) {
  .sc-main .desc {
    border-bottom: none;
  }
}
@media (max-width: 480px) {
  .sc-main .desc {
    font-size: 16px;
  }
}
@media (max-width: 380px) {
  .sc-main .desc {
    font-size: 15px;
  }
  .sc-main .desc br {
    display: none;
  }
}
.sc-main .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 20px;
}
@media (max-width: 1024px) {
  .sc-main .deco {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    font-size: 16px;
    position: fixed;
    right: 0px;
    bottom: 20px;
    z-index: 100;
  }
}
@media (max-width: 640px) {
  .sc-main .deco {
    font-size: 14px;
    padding: 0 25px;
  }
  .sc-main .deco .loc {
    display: none;
  }
}

.sc-intro {
  position: relative;
}
.sc-intro .inner {
  padding: 50px 50px 200px 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
@media (max-width: 1024px) {
  .sc-intro .inner {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 100px 50px 200px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 640px) {
  .sc-intro .inner {
    padding: 80px 25px 150px 25px;
  }
}
.sc-intro .headline {
  padding-top: 50px;
}
.sc-intro .desc {
  grid-area: 2/2/2/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 50px;
}
@media (max-width: 1280px) {
  .sc-intro .desc {
    padding-left: 0px;
  }
}
@media (max-width: 1024px) {
  .sc-intro .desc {
    width: 90%;
    font-size: clamp(18px, 4vw, 23px);
  }
}
@media (max-width: 640px) {
  .sc-intro .desc {
    font-size: clamp(18px, 3vw, 20px);
    margin: 0 auto;
    line-height: 2;
  }
}
@media (max-width: 480px) {
  .sc-intro .desc {
    width: 100%;
  }
}
@media (max-width: 380px) {
  .sc-intro .desc {
    font-size: 16px;
    line-height: 2.1;
  }
}
@media (max-width: 320px) {
  .sc-intro .desc {
    font-size: 15px;
  }
}
.sc-intro .desc .point {
  position: relative;
  display: inline-block;
}
.sc-intro .desc .point::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  display: block;
  width: calc(100% + 20px);
  height: 100%;
  background-color: rgb(104, 0, 255);
  mix-blend-mode: screen;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.sc-intro .desc .point:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.sc-project {
  position: relative;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.sc-project .headline {
  padding-top: 150px;
}
.sc-project .prj-wrap {
  margin-top: 50px;
}
.sc-project .prj-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 25px;
}
@media (max-width: 1024px) {
  .sc-project .prj-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sc-project .prj-item {
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-project .prj-item {
    min-height: 250px;
  }
}
.sc-project .prj-item:hover .bg {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.sc-project .prj-item .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 7px;
  padding: 30px;
  min-height: 400px;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .sc-project .prj-item .wrap {
    min-height: 300px;
  }
}
@media (max-width: 380px) {
  .sc-project .prj-item .wrap {
    min-height: auto;
    padding: 20px;
  }
}
.sc-project .prj-item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sc-project .prj-item .text-box .title {
  display: block;
  text-transform: uppercase;
  font-family: "jk", sans-serif;
  font-size: clamp(35px, 5vw, 58px);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .sc-project .prj-item .text-box .title {
    margin-bottom: 50px;
  }
}
.sc-project .prj-item .text-box .desc {
  font-size: 20px;
  font-weight: 300;
  word-break: keep-all;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 60%;
}
@media (max-width: 1024px) {
  .sc-project .prj-item .text-box .desc {
    margin-bottom: 20px;
  }
}
@media (max-width: 840px) {
  .sc-project .prj-item .text-box .desc {
    max-width: 75%;
  }
}
@media (max-width: 640px) {
  .sc-project .prj-item .text-box .desc {
    max-width: 90%;
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .sc-project .prj-item .text-box .desc {
    max-width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .sc-project .prj-item .text-box .desc {
    font-size: 15px;
  }
}
.sc-project .prj-item .text-box .stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5;
}
.sc-project .prj-item .text-box .stack span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  border: 1px solid #2b2b2b;
  border-radius: 30px;
  background: #000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #797979;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 840px) {
  .sc-project .prj-item .text-box .stack span {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .sc-project .prj-item .text-box .stack span {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .sc-project .prj-item .text-box .stack span {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .sc-project .prj-item .text-box .stack span {
    font-size: 12px;
  }
}
.sc-project .prj-item .view-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
}
@media (max-width: 840px) {
  .sc-project .prj-item .view-box {
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .sc-project .prj-item .view-box {
    font-size: 14px;
  }
  .sc-project .prj-item .view-box .btn-view {
    padding: 13px 25px;
  }
}
@media (max-width: 480px) {
  .sc-project .prj-item .view-box {
    font-size: 13px;
  }
  .sc-project .prj-item .view-box .btn-view {
    padding: 10px 18px;
  }
}
@media (max-width: 320px) {
  .sc-project .prj-item .view-box {
    font-size: 12px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sc-subprj {
  position: relative;
  z-index: 1;
  padding-bottom: 120px;
  overflow: hidden;
  font-family: "jk", sans-serif;
}
.sc-subprj .headline {
  padding: 150px 0 50px;
}
.sc-subprj .con-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px 60px;
  padding: 0 20px;
}
.sc-subprj .con-head .head-tit {
  font-size: 36px;
  font-weight: 700;
}
.sc-subprj .con-body .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  padding: 38px 0 40px 0;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
@media (max-width: 840px) {
  .sc-subprj .con-body .inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0;
  }
}
@media (max-width: 640px) {
  .sc-subprj .con-body .inner {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.sc-subprj .con-body .item {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .sc-subprj .con-body .item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .sc-subprj .con-body .item {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}
@media (max-width: 480px) {
  .sc-subprj .con-body .item {
    font-size: 15px;
  }
}
.sc-subprj .con-body .item .first,
.sc-subprj .con-body .item .second {
  width: 100%;
}
.sc-subprj .con-body .item .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 256px;
  padding-left: 20px;
  line-height: 1;
}
@media (max-width: 1024px) {
  .sc-subprj .con-body .item .label {
    width: 200px;
  }
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .label {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 10px;
  }
}
.sc-subprj .con-body .item .label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 1px solid #fdfafa;
  padding: 16px 20px 18px;
  opacity: 0.4;
}
@media (max-width: 1024px) {
  .sc-subprj .con-body .item .label span {
    padding: 13px 18px;
  }
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .label span {
    padding: 10px 15px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .sc-subprj .con-body .item .label span {
    padding: 7px 12px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
}
.sc-subprj .con-body .item .title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: block;
  max-width: 570px;
  margin-right: 100px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .sc-subprj .con-body .item .title {
    margin-right: 0px;
  }
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 640px) {
  .sc-subprj .con-body .item .title {
    width: 100%;
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 380px) {
  .sc-subprj .con-body .item .title {
    font-size: 30px;
  }
}
.sc-subprj .con-body .item .sub {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 120px;
}
@media (max-width: 1024px) {
  .sc-subprj .con-body .item .sub {
    margin-right: 0px;
  }
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
.sc-subprj .con-body .item .sub span,
.sc-subprj .con-body .item .sub .link {
  display: block;
  opacity: 0.4;
}
.sc-subprj .con-body .item .sub .link {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 6px 10px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .sub .link {
    margin-top: 0px;
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .sc-subprj .con-body .item .sub .link {
    font-size: 13px;
    padding: 8px 12px;
  }
}
.sc-subprj .con-body .item .circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: rgb(104, 0, 255);
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .circle {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 480px) {
  .sc-subprj .con-body .item .circle {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 380px) {
  .sc-subprj .con-body .item .circle {
    width: 45px;
    height: 45px;
  }
}
.sc-subprj .con-body .item .arrow {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url(../images/link_arrow.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .arrow {
    width: 10px;
    height: 10px;
  }
}
.sc-subprj .con-body .item .second {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(104, 0, 255);
  -webkit-clip-path: circle(32px at calc(100% - 92px) 50%);
          clip-path: circle(32px at calc(100% - 92px) 50%);
  -webkit-transition: -webkit-clip-path 1s ease;
  transition: -webkit-clip-path 1s ease;
  transition: clip-path 1s ease;
  transition: clip-path 1s ease, -webkit-clip-path 1s ease;
}
@media (max-width: 840px) {
  .sc-subprj .con-body .item .second {
    display: none;
  }
}
.sc-subprj .con-body .item .second .inner {
  border-top: 1px solid rgb(104, 0, 255);
  border-bottom: 1px solid rgb(104, 0, 255);
}
.sc-subprj .con-body .item .second .label span,
.sc-subprj .con-body .item .second .sub span,
.sc-subprj .con-body .item .second .sub .link {
  opacity: 1;
}
.sc-subprj .con-body .item:hover .second {
  -webkit-clip-path: circle(100vw at calc(100% - 92px) 50%);
          clip-path: circle(100vw at calc(100% - 92px) 50%);
}
.sc-subprj .con-body .item:hover .arrow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: scale3d(1.3, 1.3, 1);
          transform: scale3d(1.3, 1.3, 1);
}
.sc-subprj .con-body .item:nth-child(n+2) .inner {
  border-top: none;
}

.sc-contact {
  position: relative;
  padding: 80px 0;
  background-color: #000;
}
@media (max-width: 640px) {
  .sc-contact {
    padding: 100px 0;
  }
}
.sc-contact .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 200px 0;
  margin-bottom: 32px;
}
@media (max-width: 640px) {
  .sc-contact .top {
    padding: 200px 0 150px;
  }
}
.sc-contact .top .together {
  font-family: "jk", sans-serif;
  font-size: 128px;
  text-align: center;
  line-height: 1;
}
@media (max-width: 1024px) {
  .sc-contact .top .together {
    font-size: 100px;
  }
}
@media (max-width: 640px) {
  .sc-contact .top .together {
    font-size: 80px;
  }
}
@media (max-width: 480px) {
  .sc-contact .top .together {
    font-size: 15vw;
  }
}
.sc-contact .contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}
@media (max-width: 640px) {
  .sc-contact .contact-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.sc-contact .contact-area a {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 55px;
  background-color: transparent;
  color: #fff;
  font-family: "jk", sans-serif;
  letter-spacing: 1px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .sc-contact .contact-area a {
    padding: 20px 40px;
  }
}
@media (max-width: 480px) {
  .sc-contact .contact-area a {
    font-size: 14px;
    padding: 18px 35px;
  }
}
.sc-contact .contact-area a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #1f1f1f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.sc-contact .contact-area a:hover::before {
  width: 600px;
  height: 600px;
}
.sc-contact .contact-area a span {
  position: relative;
}
.sc-contact .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "jk", sans-serif;
  padding: 0 15px;
}
@media (max-width: 640px) {
  .sc-contact .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .sc-contact .bottom {
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}
.sc-contact .bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  .sc-contact .bottom > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.sc-contact .bottom > div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sc-contact .bottom .left {
  gap: 50px;
}
.sc-contact .bottom .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
@media (max-width: 640px) {
  .sc-contact .bottom .right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.sc-contact .bottom .tit {
  line-height: 2;
}
.sc-contact .bottom .label {
  line-height: 1.5;
  opacity: 0.5;
}/*# sourceMappingURL=style.css.map */