// 메인 bg
.holographic-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: -1;
    pointer-events: none;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0.4;
        pointer-events: none;

        @include responsive(640px) {
            object-position: 80%;
        }
    }
}

// sc-main
.sc-main {
    width: 100%;
    height: 100vh;
    background: #000;

    .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;

        @include responsive {
            justify-content: center;
            padding-top: 100px;
        }
    }

    .title {
        font-size: clamp(40px, 8vw, 120px);
        font-family: $font--en;
        font-weight: 600;
        line-height: 1.2;

        em {
            font-weight: 300;
            display: inline-block;
        }

        @include responsive(640px) {
            letter-spacing: 1px;
        }

        @include responsive(320px) {
            font-size: 35px;
        }
    }
    .desc {
        font-family: $font--en;
        font-size: 18px;
        letter-spacing: 0.6px;
        word-spacing: 1.2px;
        padding: 50px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        line-height: 1.7;
        color: #b5b5b5;

        @include responsive {
            border-bottom: none;
        }

        @include responsive(480px) {
            font-size: 16px;
        }

        @include responsive(380px) {
            font-size: 15px;

            br {
                display: none;
            }
        }
    }
    .deco {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-size: 20px;

        @include responsive {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 50px;
            font-size: 16px;
            position: fixed;
            right: 0px;
            bottom: 20px;
            z-index: 100;
        }

        @include responsive(640px) {
            font-size: 14px;
            padding: 0 25px;

            .loc {
                display: none;
            }
        }
    }
}

// sc-intro
.sc-intro {
    position: relative;

    .inner {
        padding: 50px 50px 200px 50px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;

        @include responsive {
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            padding: 100px 50px 200px 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
        }

        @include responsive(640px) {
            padding: 80px 25px 150px 25px;
        }
    }

    .headline {
        padding-top: 50px;
    }

    .desc {
        grid-area: 2 / 2 / 2 / 5;
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.5;
        padding-left: 50px;

        @include responsive(1280px) {
            padding-left: 0px;
        }
        @include responsive {
            width: 90%;
            font-size: clamp(18px, 4vw, 23px);
        }
        @include responsive(640px) {
            font-size: clamp(18px, 3vw, 20px);
            margin: 0 auto;
            line-height: 2;
        }
        @include responsive(480px) {
            width: 100%;
        }
        @include responsive(380px) {
            font-size: 16px;
            line-height: 2.1;
        }

        @include responsive(320px) {
            font-size: 15px;
        }

        .point {
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -10px;
                transform: scaleX(0);
                transform-origin: right;
                display: block;
                width: calc(100% + 20px);
                height: 100%;
                background-color: $main-color;
                mix-blend-mode: screen;
                transition: transform 0.3s;
            }

            &:hover::before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

// sc-project
.sc-project {
    position: relative;
    width: 100%;
    border-top: 1px solid $stroke-white;

    .headline {
        padding-top: 150px;
    }

    .prj-wrap {
        margin-top: 50px;
    }

    .prj-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 25px;

        @include responsive {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .prj-item {
        position: relative;
        border-radius: 10px;
        border: 1px solid $stroke-white;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        overflow: hidden;

        @include responsive {
            min-height: 250px;
        }

        &:hover {
            .bg {
                transform: scale(1);
                opacity: 1;
            }
        }

        .wrap {
            display: flex;
            flex-direction: column;
            border-radius: 7px;
            padding: 30px;
            min-height: 400px;
            height: 100%;
            transition: 0.3s;
            position: relative;
            z-index: 1;

            @include responsive {
                min-height: 300px;
            }

            @include responsive(380px) {
                min-height: auto;
                padding: 20px;
            }
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.2);
            transform: scale(1.1);
            opacity: 0;
            transition: 0.3s;
        }

        .text-box {
            .title {
                display: block;
                text-transform: uppercase;
                font-family: $font--en;
                font-size: clamp(35px, 5vw, 58px);
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 100px;

                @include responsive {
                    margin-bottom: 50px;
                }
            }

            .desc {
                font-size: 20px;
                font-weight: 300;
                word-break: keep-all;
                line-height: 1.5;
                margin-bottom: 30px;
                max-width: 60%;

                @include responsive {
                    margin-bottom: 20px;
                }

                @include responsive(840px) {
                    max-width: 75%;
                }

                @include responsive(640px) {
                    max-width: 90%;
                    font-size: 18px;
                }

                @include responsive(480px) {
                    max-width: 100%;
                    font-size: 16px;
                }

                @include responsive(320px) {
                    font-size: 15px;
                }
            }

            .stack {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;
                font-size: 0.9rem;
                font-weight: 500;
                line-height: 1.5;

                span {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 7px 15px;
                    border: 1px solid #2b2b2b;
                    border-radius: 30px;
                    background: #000;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    color: #797979;
                    transition: 0.3s;

                    @include responsive(840px) {
                        font-size: 15px;
                    }
                    @include responsive(640px) {
                        font-size: 14px;
                    }

                    @include responsive(480px) {
                        font-size: 13px;
                    }

                    @include responsive(320px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .view-box {
            flex: 1;
            display: flex;
            align-items: end;
            justify-content: flex-end;
            column-gap: 10px;
            margin-top: 20px;

            @include responsive(840px) {
                font-size: 15px;
            }
            @include responsive(640px) {
                font-size: 14px;

                .btn-view {
                    padding: 13px 25px;
                }
            }

            @include responsive(480px) {
                font-size: 13px;

                .btn-view {
                    padding: 10px 18px;
                }
            }

            @include responsive(320px) {
                font-size: 12px;
                justify-content: center;
            }
        }
    }
}

// sc-subprj
.sc-subprj {
    position: relative;
    z-index: 1;
    padding-bottom: 120px;
    overflow: hidden;
    font-family: $font--en;

    .headline {
        padding: 150px 0 50px;
    }

    .con-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px 60px;
        padding: 0 20px;

        .head-tit {
            font-size: 36px;
            font-weight: 700;
        }
    }

    .con-body {
        .list {
        }

        .inner {
            display: flex;
            align-items: center;
            margin-left: 40px;
            margin-right: 40px;
            padding: 38px 0 40px 0;
            border-top: 1px solid #666;
            border-bottom: 1px solid #666;

            @include responsive(840px) {
                flex-wrap: wrap;
                padding: 30px 0;
            }

            @include responsive(640px) {
                margin-left: 25px;
                margin-right: 25px;
            }
        }

        .item {
            position: relative;
            font-size: 20px;
            line-height: 1.5;

            @include responsive {
                font-size: 18px;
            }
            @include responsive(768px) {
                background-color: rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
            }

            @include responsive(480px) {
                font-size: 15px;
            }

            .first,
            .second {
                width: 100%;
            }

            .label {
                display: flex;
                width: 256px;
                padding-left: 20px;
                line-height: 1;

                @include responsive {
                    width: 200px;
                }
                @include responsive(840px) {
                    width: 100%;
                    padding-left: 0px;
                    margin-bottom: 10px;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    border: 1px solid #fdfafa;
                    padding: 16px 20px 18px;
                    opacity: 0.4;

                    @include responsive {
                        padding: 13px 18px;
                    }
                    @include responsive(840px) {
                        padding: 10px 15px;
                        font-size: 14px;
                    }

                    @include responsive(480px) {
                        padding: 7px 12px;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                    }
                }
            }

            .title {
                flex: 2;
                display: block;
                max-width: 570px;
                margin-right: 100px;
                font-size: 36px;
                font-weight: 700;
                text-transform: uppercase;

                @include responsive {
                    margin-right: 0px;
                }
                @include responsive(840px) {
                    flex: 1;
                }
                @include responsive(640px) {
                    width: 100%;
                    max-width: none;
                    flex: 1 1 auto;
                    margin-bottom: 10px;
                }
                @include responsive(380px) {
                    font-size: 30px;
                }
            }

            .sub {
                flex: 1;
                margin-right: 120px;

                @include responsive {
                    margin-right: 0px;
                }
                @include responsive(840px) {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                span,
                .link {
                    display: block;
                    opacity: 0.4;
                }

                .link {
                    position: relative;
                    z-index: 2;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #fff;
                    border-radius: 50px;
                    padding: 6px 10px;
                    margin-top: 10px;
                    font-size: 14px;
                    text-transform: uppercase;

                    @include responsive(840px) {
                        margin-top: 0px;
                        opacity: 1;
                    }

                    @include responsive(480px) {
                        font-size: 13px;
                        padding: 8px 12px;
                    }
                }
            }

            .circle {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
                margin-right: 20px;
                border-radius: 50%;
                background-color: $main-color;

                @include responsive(840px) {
                    width: 55px;
                    height: 55px;
                }
                @include responsive(480px) {
                    width: 50px;
                    height: 50px;
                }
                @include responsive(380px) {
                    width: 45px;
                    height: 45px;
                }
            }
            .arrow {
                // position: absolute;
                display: block;
                width: 12px;
                height: 12px;
                background-image: url(../images/link_arrow.png);
                background-position: 50% 50%;
                background-size: cover;
                background-repeat: no-repeat;
                transition: transform 0.3s;

                @include responsive(840px) {
                    width: 10px;
                    height: 10px;
                }
            }

            .first {
                // opacity: 0;
            }
            // 복제
            .second {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $main-color;
                clip-path: circle(32px at calc(100% - 92px) 50%);
                transition: clip-path 1s ease;

                @include responsive(840px) {
                    display: none;
                }

                .inner {
                    border-top: 1px solid $main-color;
                    border-bottom: 1px solid $main-color;
                }

                .label span,
                .sub span,
                .sub .link {
                    opacity: 1;
                }
            }

            &:hover .second {
                clip-path: circle(100vw at calc(100% - 92px) 50%);
            }
            &:hover .arrow {
                transform-style: preserve-3d;
                transform: scale3d(1.3, 1.3, 1);
            }

            &:nth-child(n + 2) {
                .inner {
                    border-top: none;
                }
            }
        }
    }
}

// sc-contact
.sc-contact {
    position: relative;
    padding: 80px 0;
    background-color: #000;

    @include responsive(640px) {
        padding: 100px 0;
    }

    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 200px 0;
        margin-bottom: 32px;

        @include responsive(640px) {
            padding: 200px 0 150px;
        }

        .together {
            font-family: $font--en;
            font-size: 128px;
            text-align: center;
            line-height: 1;

            @include responsive {
                font-size: 100px;
            }

            @include responsive(640px) {
                font-size: 80px;
            }

            @include responsive(480px) {
                font-size: 15vw;
            }
        }
    }

    .contact-area {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 100px;

        @include responsive(640px) {
            flex-direction: column;
            gap: 30px;
        }

        a {
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 25px 55px;
            background-color: transparent;
            color: #fff;
            font-family: $font--en;
            letter-spacing: 1px;
            border: 1px solid #3a3a3a;
            border-radius: 50px;
            overflow: hidden;

            @include responsive {
                padding: 20px 40px;
            }

            @include responsive(480px) {
                font-size: 14px;
                padding: 18px 35px;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: 0;
                height: 0;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background: #1f1f1f;
                transition: 0.5s;
            }

            &:hover::before {
                width: 600px;
                height: 600px;
            }

            span {
                position: relative;
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        font-family: $font--en;
        padding: 0 15px;

        @include responsive(640px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        @include responsive(480px) {
            font-size: 14px;
            letter-spacing: 0.5px;
        }

        & > div {
            display: flex;
            align-items: center;
            @include responsive(640px) {
                justify-content: center;
                text-align: center;
            }

            a {
                display: flex;
                flex-direction: column;
            }
        }
        .left {
            gap: 50px;
        }
        .right {
            flex-direction: column;
            align-items: end;

            @include responsive(640px) {
                align-items: center;
            }
        }

        .tit {
            line-height: 2;
        }
        .label {
            line-height: 1.5;
            opacity: 0.5;
        }
    }
}
